<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
 <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
    

    <appSettings>
        <add key="isLogDebugEnabled" value="1"/>
        <add key="isLogErrorEnabled" value="1"/>
        <add key="all_access_mac" value="|14:B4:84:3A:14:12|00:0a:f5:50:2c:38|"/>
        <add key="view_member_mac" value="|C0:EE:FB:38:09:94|"/>
    </appSettings>
    <connectionStrings>
        <add name="TKPAbsen" connectionString="server=192.168.12.125; database=TKPAbsen; user id=sa; password=manager;" />
    </connectionStrings>
</configuration>
